# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
# - task: Maven@3
#   inputs:
#     mavenPomFile: 'pom.xml'
#     mavenOptions: '-Xmx3072m'
#     javaHomeOption: 'JDKVersion'
#     jdkVersionOption: '1.6'
#     jdkArchitectureOption: 'x64'
#     publishJUnitResults: true
#     testResultsFiles: '**/surefire-reports/TEST-*.xml'
#     goals: 'package'

- task: CmdLine@2
  inputs:
    script: |

      npm install async
      npm install glob
      npm install vsts-task-lib
      npm install azure-pipelines-task-lib
      npm install xml2js

      cd android

      npm install async
      npm install glob
      npm install vsts-task-lib
      npm install azure-pipelines-task-lib
      npm install xml2js



      
      mvn -U clean install 
      mvn compile

      mvn test -P single

- task: BrowserStackResults@0
